<div class="col-xs-9 pairings">
  <!-- PAIRINGS -->
  <div class="dash_pairings">
    <div class="dash_header">
      <div class="dash_header-left">
        <h2 class="float-left">Pairings</h2>
        <ul class="dash_header float-left">
          <li><a href="" class="refresh-pairings"><span class="glyphicon glyphicon-refresh spinner"></span>Generate</a></li>
          <li class="last"><a href=""><span class="glyphicon glyphicon-plus"></span>Add Custom</a></li>
        </ul>
      </div>
      <a href="#"><img class="" src="/img/btn_splor-all.png"></a>
      <div class="dash_header-right float-right">
        <h2 class="float-left">Sort by...</h2>
        <select>
            <option value="skill">Skill</option>
            <option value="urgency">Urgency</option>
        </select>
      </div><!--/dash_header-right-->
    </div><!--/dash_header-->
    {{#each pairings}}
    <div class="dash_item-wrapper generated clear-both">
      <div class="dash_item skill col-md-2 col-xs-12">
        <h4>Skill</h4>
        <p>{{Exercise.name}}</p>
      </div><!--/dash_item skill-->
      <div class="dash_item students col-md-7 col-xs-12">
        <h4>Students</h4>
        <div class="dash_item student">
          <img class="dash_item tutor" src="{{Tutor.avatar}}">
          <h3 class="student-name">{{Tutor.name}}</h3>
          <span>tutor</span>
        </div><!--/dash_item student-->
        <div class="dash_item student">
          <img class="dash_item tutee" src="{{Tutee.avatar}}">
          <h3 class="student-name">{{Tutee.name}}</h3>
          <span>tutee</span>
        </div><!--/dash_item student-->
      </div><!--/dash_item students-->
      <div class="btn-group dash_item btns col-md-2" role="group" aria-label="...">
          <button type="button" class="btn btn-default">Edit</button>
          <button type="button" class="btn btn-default">Delete</button>
      </div><!--/.dash_item btns-->
    </div><!--/dash-item-wrapper-->
    {{else}}
    <div class="dash_item-wrapper generated clear-both">
      <h3>No pairings found.</h3>
      <a href="" class="refresh-pairings"><span class="glyphicon glyphicon-refresh spinner"></span>Generate now</a>
    </div>
    {{/each}}
  </div><!--/dash_pairings-->
  <!-- /PAIRINGS -->
</div><!--/main-->
