<h4>Hello {{tutee.name}}!</h4>
<p>Next, you'll be working on the exercise <a href="{{exercise.URL}}">{{exercise.name}}</a>, with help from {{tutor.name}}.</p>
<br/>
<p>Work with {{tutor.name}} until you've shown them that you can master it on your own.</p>
<br/>
<p>When done, go to http://goo.gl/forms/CBDnXIKPfS and fill out the survey.</p>
<h5>Have fun!</h5>
<p> - {{teacher.name}}</p>
