<h4>Hello {{tutee.name}}!</h4>
<p>Today, you'll be working on the exercise <a href="{{exercise.URL}}">{{exercise.name}}</a>, with help from {{tutor.name}}.</p>
<br/>
<p> But first, before you go to their desk, write down 10 things you do on Thanksgiving. They'll do the same. When you get there, see if there's any overlap. The team with the most overlap wins.</p>
<br/>
<br/>
<iframe src="https://docs.google.com/a/learnpersonalized.com/forms/d/1IbF5e76Nm_o7TCgASx0ETaMZ81beBRIz0GAjQO8D2v4/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
<br/>
<br/>
<p>If the survey isn't embeded, go to http://goo.gl/forms/CBDnXIKPfS. </p>
<br/>
<h5>Have fun!</h5>
<p> - {{teacher.name}}</p>
