<h4>Hello {{tutor.name}}!</h4>
<p>Next, you'll be helping {{tutee.name}} with the exercise <a href="{{exercise.URL}}">{{exercise.name}}</a>.</p>
<br/>
<p> If you need to review before tutoring, consider this a homework assignment.</p>
<br/>
<br/>

<br/>
<br/>
<p>When done, go to http://goo.gl/forms/CBDnXIKPfS and fill out the survey. </p>
<h5>Have fun!</h5>
<p> - {{teacher.name}}</p>
