<div class="dash_pairings">
	<div class="dash_header">
		<div class="dash_header-left">
			<h2 class="float-left">Manage Students</h2>
		</div><!--/dash_header-left-->
		<div class="dash_header-right float-right">
<input class="float-right" id="student-search" placeholder="Search" type=search name=s>
		</div><!--/dash_header-right-->
	</div><!--/dash_header-->
	<div class="dash_header">
      {{#if classes}}
			<select name="add_to" id="bulk_add">
					<option value="Add to...">Add to...</option>
          {{#each classes}}
          <option value="{{id}}">{{name}}</option>
          {{/each}}
			</select>
			<select name="remove_from" id="bulk_remove">
					<option value="Remove from...">Remove from...</option>
          {{#each classes}}
          <option value="{{id}}">{{name}}</option>
          {{/each}}
			</select>
      {{/if}}
	<input class="float-right" type="file" id="fileinput" />
	</div>

  {{#each students}}
  <div class="dash_item-wrapper student clear-both float-left col-xs-12">
    <input type="checkbox" class="float-left" aria-label="Student"><h3 class="float-left">{{name}}</h3>
    {{#each classes}}
    <div class="dash_item classes float-right col-md-2 col-xs-12">
      <p>{{name}}</p>
    </div><!--/dash_item skill-->
    {{/each}}
  </div><!--/dashitem-->
	{{else}}
	<div class="empty-message clear-both float-left col-xs-12">
		<h3>You don't have any students.</h3>
	</div>
	{{/each}}
</div><!--/dash_pairings-->
